<body>
    <div class="container mt-5">
        <h2 class="text-center">Autentificare</h2>
        <form action="/verificare-autentificare" method="POST">
            <div class="mb-3">
                <label for="idUser" class="form-label">ID</label>
                <input type="text" class="form-control" id="idUser" name="idUser" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Parolă</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-wEmeIV1mKuiNpAnD1SZdCo/aYz5rNJJo42Mvl13GJZfXZC/XuCYAKu92StQKNjBq"
        crossorigin="anonymous"></script>
</body>